/*

Future Theory VueJS 2 Landing Page
by TheoryForce
theoryforce.com
==================================

main style file
*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Avenir');

$bg:    #fbf1e9;
$accnt: rgba(171, 139, 129, 0.2);
$text:  #000;
$extra: #222;
$lite:  #fff;
$font:    'Didact Gothic', sans-serif;
$fonti:   'Georgia', serif;
$font0:   'Avenir', Helvetica, Arial, sans-serif;

$xs: 480px;
$sm: 770px;
$md: 1100px;


body {
  -webkit-transition: background .7s ease;
  -moz-transition: background .7s ease;
  -ms-transition: background .7s ease;
  -o-transition: background .7s ease;
  transition: background .7s ease;
  background: $bg;
}

#app {
  font-family: $font0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text;
  margin-top: 60px;
  > section {
    width: 50vw;
    float: right;
    text-align: left;
    @media (max-width: $sm) {
      width: 100vw;
    }
    .canvas {
      margin-top: 10vh;
      @media (max-width: $sm) {
        margin-left: 36px;

      }
      h1 {
        font-size: 9em;
        font-weight: 800;
        line-height: 0.7;
        margin: 0;
        @media (max-width: $xs) {
          font-size: 4em
        }
      }
      h2 {
        margin: 70px 0 20px;
      }

    }
    .footer {
      position: absolute;
      bottom: 32px;
      font-size: small;
      @media (max-width: $sm) {
        position: relative;
        padding: 36px;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

a {
  color: $extra;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  padding: 14px 50px;
  border: 1px solid black;
  min-width: 100px;
  text-align: center;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  &.btn-1 {
    background: white;
    &:hover {
      background: $text;
      color: $lite;
    }
  }
  &.btn-2 {
    background: $accnt;
    &:hover {
      background: $text;
      color: $lite;
    }
  }
}
/* brand */

.logo-wrap {
  display: block;
  position: fixed;
  left: 36px;
  top: 36px;
  font-size: 2rem;
  > span {
    font-family: $fonti;
    font-style: italic;
  }
}


/* menu */

.bm-burger-button {
  position: fixed;
  display: block;
  background: $text;
  color: $lite;
  width: 70px;
  height: 70px;
  left: 36px;
  top: unset;
  bottom: 36px;
  cursor: pointer;
  @media (max-width: $xs) {
    left: 12px;
    top: unset;
    bottom: 15px;
  }
  &:after {
    display: block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
    content: 'MENU';
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 16px;
    line-height: 1.7;
    padding: 0;
    top: 4px;
    left: 7px;
  }
}
.bm-burger-bars {
  display: none;
}
    .line-style {
      position: absolute;
      height: 20%;
      left: 0;
      right: 0;
    }
    .cross-style {
      position: absolute;
      top: 12px;
      right: 2px;
      cursor: pointer;
    }
    .bm-cross {
      background: $lite;
      width: 1px !important;
      height: 30px !important;
    }
    .bm-cross-button {
      height: 50px;
      width: 50px;
    }
  .bm-menu {
      height: 33vh;
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed;
      z-index: 1000;
      top: unset;
      bottom:36px;
      left: 36px;
      background-color: $text;
      color: $lite;
      border-top: 5px solid $text;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
    }

    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
      background: -webkit-linear-gradient(to right, unquote('#cfda5e82'), unquote('#c3376445'));
      background: linear-gradient(to right, unquote('#cfda5e82'), unquote('#c3376445'));
    }
    .bm-item-list {
      margin: 0 32px;
      font-size: inherit;
      > * {
        display: flex;
        text-decoration: none;
        color: $lite;
        padding: 0.3em 0.7em;
        text-align: left;
        > span {
          margin-left: inherit;
          font-weight: 700;
          color: $lite;
          text-transform: uppercase;
        }
      }

    }
