<template>
  <div id="app">

    <div class="logo-wrap">
      <span>{{ italic }}</span>{{ normal }}
    </div>
    <section>
      <div class="canvas">
        <h1>{{ italic }}<br/>{{ normal }}</h1>
        <h2>we pick the attention-grabbing gems from your product line</h2>
        <p>designed for organic growth</p>
        <p>
          <a class="button btn-1" href="#">contact</a>
          &nbsp;
          <a class="button btn-2" href="#">work</a>
        </p>
      </div>
      <div class="footer">
        <p>&copy; 2018 {{ italic }}{{ normal }} | designed by <a href="https://www.theoryforce.com" title="theory force studio">tfs</a> </p>
      </div>
    </section>
    <template>
      <Slide>
        <a href="#">twitter</a>
        <a href="#">facebook</a>
        <br>
        <a href="#"><span>info@{{ italic }}{{ normal }}.com</span></a>
        <p>We are digital marketing house specializing in consulting, marketing and pr. </p>

      </Slide>
    </template>
  </div>
</template>

<script>
import { Slide } from 'vue-burger-menu'
export default {
  name: 'app',
  data () {
    return {
      italic: 'future',
      normal: 'theory'
    }
  },
  components: {
      Slide
  }
}
</script>
